Repository 11Vartikabhatnagar/UPYOG-NIUA-Vartika, changes with the owners that CODEOWNERS names for each.
All owners: @gajendran-egov, @sathishp-eGov, @kavi-egov, @talele08, @sirishrao-egov, @jagankumar-egov

fix: upgrade org.hibernate:hibernate-entitymanager from 5.1.10.Final to 5.6.15.Final
  edcr/service/egov/pom.xml
Owners: @gajendran-egov, @sathishp-eGov, @kavi-egov

fix: upgrade org.postgresql:postgresql from 42.1.4 to 42.7.4
  edcr/service/egov/pom.xml
Owners: @gajendran-egov, @sathishp-eGov, @kavi-egov

fix: upgrade ar.com.fdvs:DynamicJasper from 5.0.2 to 5.3.9
  edcr/service/egov/egov-edcr-extract/pom.xml
Owners: @gajendran-egov, @sathishp-eGov, @kavi-egov

fix: upgrade com.itextpdf:itextpdf from 5.0.6 to 5.5.13.4
  edcr/service/egov/pom.xml
Owners: @gajendran-egov, @sathishp-eGov, @kavi-egov

fix: upgrade net.sf.jasperreports:jasperreports-fonts from 6.1.0 to 6.21.4
  edcr/service/egov/pom.xml
Owners: @gajendran-egov, @sathishp-eGov, @kavi-egov

fix: core-services/pdf-service/package.json & core-services/pdf-service/package-lock.json to reduce vulnerabilities
  core-services/pdf-service/package-lock.json
  core-services/pdf-service/package.json
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: core-services/xstate-chatbot/nodejs/package.json & core-services/xstate-chatbot/nodejs/package-lock.json to reduce vulnerabilities
  core-services/xstate-chatbot/nodejs/package-lock.json
  core-services/xstate-chatbot/nodejs/package.json
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: core-services/nlp-engine/Dockerfile to reduce vulnerabilities
  core-services/nlp-engine/Dockerfile
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: municipal-services/firenoc-services/package.json & municipal-services/firenoc-services/package-lock.json to reduce vulnerabilities
  municipal-services/firenoc-services/package-lock.json
  municipal-services/firenoc-services/package.json
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: core-services/chatbot/pom.xml to reduce vulnerabilities
  core-services/chatbot/pom.xml
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: utilities/egov-pdf/package.json & utilities/egov-pdf/yarn.lock to reduce vulnerabilities
  utilities/egov-pdf/package.json
  utilities/egov-pdf/yarn.lock
Owners: @gajendran-egov, @sathishp-eGov, @kavi-egov

fix: core-services/egov-user/pom.xml to reduce vulnerabilities
  core-services/egov-user/pom.xml
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: core-services/egov-notification-sms/pom.xml to reduce vulnerabilities
  core-services/egov-notification-sms/pom.xml
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: core-services/egov-telemetry/egov-telemetry-kafka-streams/pom.xml to reduce vulnerabilities
  core-services/egov-telemetry/egov-telemetry-kafka-streams/pom.xml
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: core-services/nlp-engine/Dockerfile to reduce vulnerabilities
  core-services/nlp-engine/Dockerfile
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: core-services/nlp-engine/Dockerfile to reduce vulnerabilities
  core-services/nlp-engine/Dockerfile
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: core-services/nlp-engine/Dockerfile to reduce vulnerabilities
  core-services/nlp-engine/Dockerfile
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: core-services/nlp-engine/Dockerfile to reduce vulnerabilities
  core-services/nlp-engine/Dockerfile
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: core-services/nlp-engine/Dockerfile to reduce vulnerabilities
  core-services/nlp-engine/Dockerfile
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: core-services/nlp-engine/Dockerfile to reduce vulnerabilities
  core-services/nlp-engine/Dockerfile
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: core-services/nlp-engine/Dockerfile to reduce vulnerabilities
  core-services/nlp-engine/Dockerfile
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: core-services/nlp-engine/Dockerfile to reduce vulnerabilities
  core-services/nlp-engine/Dockerfile
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: core-services/nlp-engine/Dockerfile to reduce vulnerabilities
  core-services/nlp-engine/Dockerfile
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: core-services/nlp-engine/Dockerfile to reduce vulnerabilities
  core-services/nlp-engine/Dockerfile
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: core-services/nlp-engine/Dockerfile to reduce vulnerabilities
  core-services/nlp-engine/Dockerfile
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: core-services/nlp-engine/Dockerfile to reduce vulnerabilities
  core-services/nlp-engine/Dockerfile
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: core-services/nlp-engine/Dockerfile to reduce vulnerabilities
  core-services/nlp-engine/Dockerfile
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: core-services/nlp-engine/Dockerfile to reduce vulnerabilities
  core-services/nlp-engine/Dockerfile
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: core-services/nlp-engine/Dockerfile to reduce vulnerabilities
  core-services/nlp-engine/Dockerfile
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

fix: frontend/workbench-ui/web/micro-ui-internals/packages/svg-components/docker/Dockerfile to reduce vulnerabilities
  frontend/workbench-ui/web/micro-ui-internals/packages/svg-components/docker/Dockerfile
Owners: @gajendran-egov, @sathishp-eGov, @kavi-egov

fix: frontend/upyog-ui/web/micro-ui-internals/packages/react-components/docker/Dockerfile to reduce vulnerabilities
  frontend/upyog-ui/web/micro-ui-internals/packages/react-components/docker/Dockerfile
Owners: @gajendran-egov, @sathishp-eGov, @kavi-egov

fix: frontend/mono-ui/web/rainmaker/docker/employee-mcs/Dockerfile to reduce vulnerabilities
  frontend/mono-ui/web/rainmaker/docker/employee-mcs/Dockerfile
Owners: @sathishp-eGov, @jagankumar-egov, @sirishrao-egov

fix: frontend/mono-ui/web/rainmaker/docker/citizen/Dockerfile to reduce vulnerabilities
  frontend/mono-ui/web/rainmaker/docker/citizen/Dockerfile
Owners: @sathishp-eGov, @jagankumar-egov, @sirishrao-egov

fix: frontend/micro-ui/web/micro-ui-internals/packages/react-components/docker/Dockerfile to reduce vulnerabilities
  frontend/micro-ui/web/micro-ui-internals/packages/react-components/docker/Dockerfile
Owners: @sathishp-eGov, @jagankumar-egov, @sirishrao-egov

fix: core-services/nlp-engine/Dockerfile to reduce vulnerabilities
  core-services/nlp-engine/Dockerfile
Owners: @sathishp-eGov, @talele08, @kavi-egov, @sirishrao-egov

CODEOWNERS:

*  @gajendran-egov @sathishp-eGov @kavi-egov
*.yaml  @gajendran-egov @sathishp-eGov @kavi-egov

business-services/ @sathishp-eGov @talele08 @kavi-egov @sirishrao-egov
core-services/ @sathishp-eGov @talele08 @kavi-egov @sirishrao-egov
municipal-services/ @sathishp-eGov @talele08 @kavi-egov @sirishrao-egov


##Frontend
frontend/micro-ui/  @sathishp-eGov @jagankumar-egov @sirishrao-egov
frontend/micro-ui-internals/ @sathishp-eGov @jagankumar-egov @sirishrao-egov
frontend/mono-ui/ @sathishp-eGov @jagankumar-egov @sirishrao-egov
